.relatory__backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.relatory {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-color);
  padding: 24px;
  margin: 0;
  width: 760px;
  border-radius: 8px;
}

.relatory-header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 8px;
}

.relatory-products__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  max-height: 300px;
  overflow: auto;
  padding-right: 16px;
}

.relatory-products__list-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid var(--grey-color);
  padding: 16px 24px;
  border-radius: 8px;
  gap: 12px;
}
.relatory-products__list-item__row {
  display: grid;
  grid-template-columns: 40px 1fr 100px max-content 100px max-content;
  gap: 12px;
  /* align-items: center; */
  font-weight: 500;
}

.list-item__row--left {
  text-align: left;
  display: flex;
}

.list-item__row--center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.list-item__row--right {
  display: flex;
  justify-self: flex-end;
  text-align: right;
}

.list-item__status--ok,
.list-item__status--error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.list-item__status--ok {
  background-color: var(--principal-color);
}

.list-item__status--error {
  background-color: var(--terciary-color);
}

.relatory-products__list-item__errors {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 6px;
}

.list-item__errors__error {
  color: var(--terciary-color);
}

.relatory-footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

.relatory-footer__button {
  border: none;
  background-color: var(--principal-color);
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #fafafa;
  cursor: pointer;
  transition: 300ms ease;
}

.relatory-footer__button:disabled {
  background-color: var(--secondary-color);
}
