.modal-upload__backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.modal-upload {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-color);
  padding: 24px;
  margin: 0;
  width: 320px;
  border-radius: 8px;
}

.modal-upload-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.modal-upload-header__title {
  font-size: 20px;
}

.modal-upload-header__close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-upload-uploader__selector,
.modal-upload-uploader__static {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: var(--background-color);
  border: 1px dashed var(--grey-color);
  border-radius: 6px;
  transition: 300ms ease;
}

.modal-upload-uploader__selector svg path {
  fill: var(--dark-color);
  transition: 300ms ease;
}

.modal-upload-uploader__static svg path {
  fill: var(--principal-color);
}

.modal-upload-uploader__selector:hover {
  background-color: #30ad5d10;
  border: 1px dashed var(--principal-color);
  cursor: pointer;
}

.modal-upload-uploader__selector:hover svg path {
  fill: var(--principal-color);
}

.modal-upload-uploader__selector span {
  font-size: 14px;
  color: var(--grey-color);
}

.modal-upload-uploader__static span {
  font-size: 15px;
  color: var(--grey-color);
  cursor: pointer;
}

.modal-upload-uploader__hidden {
  display: none;
}

.modal-upload-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-upload-footer__button {
  border: none;
  background-color: var(--principal-color);
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #fafafa;
  cursor: pointer;
  transition: 300ms ease;
}

.modal-upload-footer__button:disabled {
  background-color: var(--grey-color);
  color: #fafafa;
}
