.modal-upload {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-color);
  border: 1px solid red;
}

.modal-upload main .file-uploader {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  background-color: var(--background-color);
  border: 1px dashed var(--grey-color);
  border-radius: 6px;
  transition: 300ms ease;
  cursor: pointer;
}

.modal-upload main .file-uploader:hover {
  background-color: #30ad5d10;
  border: 1px dashed var(--principal-color);
}

.modal-upload main input[type="file"] {
  display: none;
}

footer button {
  border: none;
  background-color: var(--principal-color);
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #fafafa;
  cursor: pointer;
}
